.company-page {
	padding: 64px 0 160px;
	
	@include desktop {
		padding: 120px 0 227px;
	}
	
	&-list {
		position: relative;
	}
	
	.company {
		padding: 14px 0;
		
		@include desktop {
			padding: 20px 30px 20px 0;
			width: 50%;
			
			&.current,
			&:hover {
				h3 {
					font-family: $font-MessinaSansSerif;
					letter-spacing: -0.01em;
				}
				
				.company-photo {
					opacity: 1;
					transform: scale(1);
				}
				
			}
		}
		
		h3 {
			cursor: pointer;
			font: 300 34px/40px $font-MessinaSans;
			letter-spacing: -0.02em;
			margin: 0;
			
			@include desktop {
				font-size: 64px;
				line-height: 64px;
			}
			
			a {
				color: $color-black;
			}
		}
		
		&-photo {
			display: none;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			transform: scale(0);
			transition: opacity .25s ease;
			
			@include desktop {
				display: block;
				width: 50%;
			}
			
			img {
				display: block;
				height: auto;
				max-width: 100%;
			}
		}
	}
}