.team-page {
	background: #F9F8F7;
	padding: 80px 0 0;
	
	@include tablet {
		padding: 120px 0 0;
	}
	
	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -4px;
	}
	
	&-item {
		margin: 0 4px 32px;
		width: calc(50% - 8px);
		
		@include mobile {
			width: calc(100% / 3 - 8px);
		}
		
		@include tablet {
			margin: 0 4px 88px;
		}
		
		@include desktop {
			width: calc(25% - 8px);
		}
		
		&-photo {
			background: #D7D7D7;
			border-radius: 8px;
			margin: 0 0 12px;
			width: 100%;
			
			@include desktop {
				margin: 0 0 14px;
			}
			
			img {
				border-radius: 8px;
				display: block;
				height: auto;
				max-width: 100%;
			}
		}
		
		h3 {
			font: 14px/18px $font-MessinaSans;
			margin: 0;
			
			@include tablet {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
}