.article {
	display: flex;
	margin: 0 0 60px;
	
	&-img {
		max-width: 460px;
		min-width: 460px;
		
		img {
			display: block;
			height: auto;
			max-width: 100%;
		}
	}
	
	&-description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 0 0 40px;
		width: calc(100% - 460px);
	}
	
	&-date {
		color: #808080;
		font: 600 13px/16px $font-MessinaSansMono;
		margin: 0 0 20px;
	}
	
	&-more {
		color: $color-black;
		font: 600 15px/25px $font-MessinaSans;
	}
	
	h2 {
		font: 26px/40px $font-MessinaSans;
		letter-spacing: -0.02em;
		margin: 0 0 16px;
	}
	
	p {
		font: 17px/25px $font-MessinaSans;
		margin: 0 0 10px;
	}
}