.join-team {
	margin: auto;
	max-width: 720px;
	text-align: center;
	
	h2 {
		font: 300 34px/41px $font-MessinaSans;
		letter-spacing: -0.02em;
		margin: 0 0 24px;
		
		@include desktop {
			font-size: 54px;
			line-height: 56px;
			margin: 0 0 30px;
		}
	}
	
	p {
		font: 17px/25px $font-MessinaSans;
		letter-spacing: -0.01em;
		margin: auto auto 40px;
		max-width: 600px;
		
		@include desktop {
			font-style: 20px;
			line-height: 30px;
			letter-spacing: initial;
		}
	}
	
	.btn {
		max-width: 240px;
		width: 100%;
	}
}