.modal {
	background: #fff;
	height: 840px;
	max-height: 100vh;
	padding: 60px 24px 24px;
	position: absolute;
	overflow: auto;
	right: -100%;
	top: 0;
	transition: all .25s ease;
	z-index: 201;
	
	@include tablet {
		max-height: 90vh;
		padding: 60px;
	}
	
	&::-webkit-scrollbar {
		width: 0;
	}
	
	&.show {
		right: 0;
	}
	
	&-menu {
		align-items: center;
		display: flex;
		padding: 48px;
		
		&-wrapper {
			min-width: 600px;
			
			ul {
				counter-reset: counter;
			}
			
			li {
				counter-increment: counter;
				border-bottom: 1px solid #D7D7D7;
				
				&:last-child {
					border: none;
				}
				
				&.coming-soon a {
					color: rgba($color-black, .5);
					
					span {
						color: #000;
						font: 16px/56px $font-MessinaSansMono;
						margin-left: auto;
						text-align: right;
					}
				}
				
				a {
					color: $color-black;
					display: flex;
					font: 40px/56px $font-MessinaSans;
					letter-spacing: -0.02em;
					padding: 26px 0 30px 45px;
					position: relative;
					
					&::before {
						color: #242528;
						content: '0' counter(counter);
						font: 16px/56px $font-MessinaSansMono;
						left: 0;
						position: absolute;
						top: 26px;
					}
				}
			}
		}
	}
	
	&-form {
		align-items: center;
		display: flex;
		
		&-wrapper {
			max-width: 577px;
		}
		
		h2 {
			font: 40px/56px $font-MessinaSans;
			margin: 0 0 48px;
		}
	}
	
	&-company {
		
		&-wrapper {
			max-width: 640px;
		}
		
		&-logo {
			align-items: center;
			display: flex;
			height: 78px;
			margin: 0 0 35px;
			
			img {
				display: block;
				height: auto;
				max-width: 100%;
			}
		}
		
		&-investors {
			display: flex;
			flex-wrap: wrap;
			padding: 0 0 40px;
			
			h3 {
				font: 700 15px/23px $font-MessinaSans;
				margin: 0 0 16px;
				width: 100%;
				
				@include tablet {
					font-size: 17px;
					line-height: 25px;
					margin: 0 0 11px;
				}
			}
			
			ul {
				max-width: calc(50% - 10px);
				width: 100%;
				
				@include tablet {
					max-width: 240px;
				}
				
				li {
					font: 15px/20px $font-MessinaSans;
					padding: 8px 0;
					
					@include tablet {
						font-size: 17px;
						line-height: 24px;
					}
				}
			}
			
			i {
				font: italic 17px/25px $font-MessinaSansSerif;
			}
		}
		
		&-links {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			padding: 0 0 20px;
			
			@include tablet {
				flex-direction: row;
				padding: 0 0 60px;
			}
			
			a {
				background: url("../img/dest/icon-link.svg") no-repeat right center;
				border-bottom: 1px solid #000;
				color: $color-black;
				font: 600 20px/24px $font-MessinaSans;
				padding: 0 34px 8px 0;
			}
		}
		
		&-link {
			margin: 0 0 40px;
			max-width: 240px;
			width: 100%;
			
			@include tablet {
				margin: 0;
			}
		}
		
		&-gallery {
			display: flex;
			margin: 0 -24px 0 -48px;
			max-width: calc(100vw + 24px);
			overflow: auto;
			padding: 0 24px 0 48px;
			
			@include tablet {
				margin: 0;
				max-width: initial;
				overflow: initial;
				padding: 0;
			}
			
			img {
				display: block;
				height: auto;
				margin-right: 7px;
				max-width: 316px;
				
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
		}
		
		h2 {
			color: $color-red;
			font: 22px/28px $font-MessinaSans;
			letter-spacing: -0.02em;
			margin: 0 0 16px;
			
			@include tablet {
				font-size: 26px;
				line-height: 31px;
				margin: 0 0 10px;
			}
		}
		
		p {
			font: 17px/25px $font-MessinaSans;
			letter-spacing: -0.01em;
			margin: 0 0 40px;
			
			@include tablet {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}
	
	&-user {
		padding: 0;
		
		.modal-close {
			border-color: transparent;
		}
		
		&-wrapper {
			width: 100%;
			
			@include tablet {
				max-width: 760px;
			}
		}
		
		&-photo {
			height: 212px;
			
			@include tablet {
				height: auto;
			}
			
			img {
				display: block;
				height: 100%;
				max-width: 100%;
				object-fit: cover;
				width: 100%;
				
				@include tablet {
					height: auto;
					object-fit: initial;
					width: auto;
				}
			}
		}
		
		&-description {
			padding: 48px 24px;
			position: relative;
			
			@include tablet {
				padding: 48px 60px;
			}
			
			h2 {
				color: #000;
				font: 30px/36px $font-MessinaSans;
				letter-spacing: -0.02em;
				margin: 0 0 4px;
				
				@include tablet {
					font-size: 40px;
					line-height: 50px;
					margin: 0 200px 2px 0;
				}
			}
			
			p {
				color: #242528;
				font: 18px/28px $font-MessinaSans;
				margin: 0 0 28px;
				
				@include tablet {
					font-size: 20px;
					line-height: 30px;
					margin: 0 0 30px;
				}
				
				&:last-child {
					margin: 0;
				}
			}
		}
		
		&-position {
			color: $color-red;
			font: italic 600 18px/22px $font-MessinaSansSerif;
			margin: 0 0 24px;
			
			@include tablet {
				font-size: 20px;
				line-height: 30px;
				margin: 0 0 32px;
			}
		}
		
		&-social {
			display: flex;
			padding: 0 0 40px;
			
			@include tablet {
				position: absolute;
				right: 60px;
				top: 60px;
			}
			
			a {
				border-radius: 50%;
				margin: 0 10px 0 0;
				
				@include tablet {
					margin: 0 0 0 10px;
				}
			}
		}
		
		&-faq {
			border-top: 1px solid #D7D7D7;
			margin: 48px 0 0;
			padding: 48px 0 60px;
			
			p {
				font: 17px/25px $font-MessinaSans;
				margin: 0 0 40px;
				
				&:last-child {
					margin: 0;
				}
			}
			
			h4  {
				font: 600 17px/25px $font-MessinaSans;
				margin: 0 0 6px;
			}
		}
	}
	
	&-blog {
		padding: 0;
		
		.modal-close {
			border-color: transparent;
		}
		
		&-wrapper {
			max-width: 760px;
		}
		
		&-photo {
			height: 212px;
			
			@include tablet {
				height: auto;
			}
			
			img {
				display: block;
				height: 100%;
				max-width: 100%;
				object-fit: cover;
				width: 100%;
				
				@include tablet {
					height: auto;
					object-fit: initial;
					width: auto;
				}
			}
		}
		
		&-description {
			padding: 48px 24px;
			position: relative;
			
			@include tablet {
				padding: 48px 60px;
			}
			
			h2 {
				color: #000;
				font: 30px/36px $font-MessinaSans;
				letter-spacing: -0.02em;
				margin: 0 0 20px;
				max-width: 600px;
				
				@include tablet {
					font-size: 40px;
					line-height: 50px;
				}
			}
			
			p {
				color: #242528;
				font: 18px/28px $font-MessinaSans;
				letter-spacing: -0.01em;
				margin: 0 0 28px;
				
				@include tablet {
					font-size: 20px;
					line-height: 34px;
					margin: 0 0 34px;
				}
				
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	
	&-nav {
		align-items: center;
		background: $color-red;
		display: flex;
		min-height: 100vh;
		width: 100%;
		
		.modal-close {
			background: none;
			border: none;
		}
		
		&-wrapper {
			padding: 0 20px;
			
			li {
				padding: 20px 0;
				
				a {
					color: #fff;
					font: 24px/29px $font-MessinaSans;
					position: relative;
					
					&::before {
						background: #fff;
						border-radius: 50%;
						content: '';
						height: 8px;
						left: -20px;
						opacity: 0;
						position: absolute;
						top: calc(50% - 4px);
						transition: all .25s ease;
						width: 8px;
					}
					
					&:hover,
					&.current {
						font-family: $font-MessinaSansSerif;
						font-style: italic;
						
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	
	&-date {
		color: #000;
		font: 600 12px/14px $font-MessinaSansMono;
		margin: 0 0 40px;
		
		@include tablet {
			font-size: 14px;
			line-height: 17px;
			margin: 0 0 43px;
		}
	}
	
	&-close {
		align-items: center;
		background: #fff;
		border: 1px solid #D7D7D7;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		height: 56px;
		position: fixed;
		right: 30px;
		top: 30px;
		width: 56px;
		z-index: 20;
	}
}

.overlay {
	background: #000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
	
	&.show {
		opacity: .75;
	}
}