.team {
	background: #fff;
	padding: 80px 0 40px;
	
	@include desktop {
		padding: 146px 0 50px;
	}
	
	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		@include tablet {
			margin: 0 -30px;
		}
	}
	
	&-item {
		margin: 0 0 40px;
		width: 100%;
		
		&.team-double {
			width: calc(50% - 16px);
			
			@include tablet {
				width: calc(50% - 60px);
			}
			
			@include desktop {
				width: calc(25% - 60px);
			}
		}
		
		@include tablet {
			margin: 0 30px 70px;
			width: calc(50% - 60px);
		}
		
		@include desktop {
			width: calc(25% - 60px);
		}
		
		h4 {
			font: 20px/24px $font-MessinaSans;
			letter-spacing: -0.02em;
			margin: 0 0 12px;
			
			@include desktop {
				font-size: 22px;
				line-height: 26px;
				margin: 0 0 10px;
			}
		}
		
		p {
			font: 15px/23px $font-MessinaSans;
			letter-spacing: -0.01em;
			
			@include desktop {
				font-size: 17px;
				line-height: 27px;
			}
		}
	}
	
	&-photo {
		padding: 0 0 20px;
		
		img {
			display: block;
			height: auto;
			max-width: 44px;
			
			@include desktop {
				max-width: 60px;
			}
		}
	}
	
	&-list {
		padding: 136px 0 120px;
		
		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -8px;
			padding: 30px 0 0;
			
			@include desktop {
				margin: 0 -60px;
			}
		}
		
		&-item {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
			margin: 0 0 40px;
			padding: 0 8px;
			width: 50%;
			
			@include desktop {
				align-items: center;
				flex-wrap: nowrap;
				margin: 0 0 42px;
				padding: 0 60px;
			}
			
			&:hover {
				.team-list-name {
					font-family: $font-MessinaSansSerif;
				}
				
				.team-list-position {
					color: $color-black;
				}
			}
		}
		
		&-photo {
			margin: 0 0 10px;
			width: 100%;
			
			@include desktop {
				flex-wrap: nowrap;
				margin: 0 15px 0 0;
				width: auto;
			}
			
			img {
				display: block;
				height: auto;
				width: 30px;
				
				@include desktop {
					width: 24px;
				}
			}
		}
		
		&-name {
			color: $color-black;
			font: 20px/24px $font-MessinaSans;
			letter-spacing: -0.02em;
			margin: 0 0 4px;
			width: 100%;
			
			@include desktop {
				font-size: 22px;
				line-height: 26px;
				margin-left: 0;
				padding: 0 15px 0 0;
				width: auto;
			}
		}
		
		&-position {
			color: $color-black;
			font: 14px/20px $font-MessinaSans;
			letter-spacing: -0.01em;
			
			@include desktop {
				color: #808080;
				font-size: 16px;
				letter-spacing:  initial;
				line-height: 26px;
				margin-left: auto;
			}
		}
	}
}