.why-atomic {
	background: #fff;
	padding: 80px 0 0;
	
	@include desktop {
		padding: 120px 0 0;
	}
	
	&-articles {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 80px;
		
		@include tablet {
			margin: 0 -30px;
		}
		
		@include desktop {
			padding: 0 0 120px;
		}
	}
	
	&-article {
		padding: 0 0 30px;
		
		@include tablet {
			flex: 1 0 calc(100% / 3);
			padding: 0 30px;
		}
		
		&-img {
			margin: 0 0 20px;
			
			@include desktop {
				margin: 0 0 30px;
			}
			
			img {
				border-radius: 50%;
				display: block;
				height: 44px;
				width: 44px;
				
				@include desktop {
					height: 60px;
					width: 60px;
				}
			}
		}
		
		h4 {
			font: 20px/24px $font-MessinaSans;
			letter-spacing: -0.02em;
			margin: 0 0 8px;
			
			@include desktop {
				font-size: 22px;
				line-height: 26px;
				margin: 0 0 10px;
			}
		}
		
		p {
			font: 15px/23px $font-MessinaSans;
			letter-spacing: -0.01em;
			
			@include desktop {
				font-size: 17px;
				line-height: 25px;
			}
		}
	}
}