.about-us {
	padding: 80px 0 24px;
	text-align: center;

	@include desktop {
		padding: 150px 0 90px;
	}

	.container {
		padding: 0 32px;

		@include tablet {
			padding: 0 24px;
		}
	}

	h2 {
		font: 300 34px/41px $font-MessinaSans;
		letter-spacing: -1.3px;
		margin: 0 0 24px;

		@include desktop {
			font-size: 60px;
			line-height: 56px;
			margin: 0 0 40px;
		}

		br {
			@include tablet {
				display: none;
			}
		}
	}

	p {
		font: 17px/25px $font-MessinaSans;
		font-weight: 300;
		letter-spacing: -.4px;
		margin: 0 auto;
		max-width: 768px;

		@include desktop {
			font-size: 22px;
			line-height: 32px;
			margin: 0 auto;
		}
	}

	&-slider {
		display: flex;
		padding: 64px 0 80px;
		//overflow: hidden; /* remove after js */

		@include desktop {
			padding: 116px 0 100px;
		}

		&-wrapper {
			width: 100%;
			//display: flex; /* remove after js */
			//position: relative; /* remove after js */
			//left: 50%; /* remove after js */
			//transform: translateX(-50%); /* remove after js */
		}
	}

	&-slide {
		margin: 0 4px;
		cursor: pointer;
		pointer-events: none;
		//max-width: 278px;
		//min-width: 278px; /* remove after js */

		@include desktop {
			//max-width: 294px;
			//min-width: 320px; /* remove after js */
		}

		&.slide-center {
			pointer-events: auto;
		}

		&:focus {
			outline: none;
		}

		&-photo {
			position: relative;
			filter: grayscale(100%);
			opacity: .2;
			margin: 0 0 24px;
			transition: all .45s ease;
			padding-bottom: 125%;
			height: 0;
			border-radius: 4px;
			overflow: hidden;

			.slide-center & {
				opacity: 1;
				filter: grayscale(0%);
			}

			& > img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&-logo {
			display: inline-block;
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			width: 54%;
			height: 0;
			padding-bottom: 13%;
			transform: translate(-50%, -50%);
			transition: all .45s ease;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100% !important;
				object-fit: contain;
				pointer-events: none;
			}
		}

		&-description {
			opacity: 0;
			visibility: hidden;
			position: relative;
			top: 15px;
			padding: 0 20px;
			transition: all .45s ease;
			font-size: 17px;
			line-height: 25px;
			letter-spacing: -0.01em;
			color: #1a1a1a;

			.slide-center & {
				opacity: 1;
				visibility: visible;
				top: 0;
			}

			p {
				font: 14px/20px $font-MessinaSans;
				letter-spacing: -.2px;
				margin: 0;

				@include desktop {
					font-size: 17px;
					line-height: 25px;
				}
			}
		}

		img {
			display: block;
			height: auto;
			margin: auto;
		}
	}

	&-counters {
		border-top: 1px solid #D7D7D7;
		display: flex;
		flex-wrap: wrap;
		padding: 36px 0 0;
		text-align: center;

		@include desktop {
			padding: 53px 15px 0;
		}
	}

	&-counter {
		flex: 1 0 100%;
		padding: 28px 15px;

		@include tablet {
			flex: 1 0 calc(100% / 3);
		}

		@include desktop {
			padding: 0 15px;
		}

		&-title {
			color: $color-red;
			font: 200 44px/53px $font-MessinaSans;
			letter-spacing: -1px;

			@include desktop {
				font-size: 56px;
				line-height: 88px;
			}
		}

		p {
			font: 14px/17px $font-MessinaSans;
			margin: 0;
			opacity: .6;

			@include desktop {
				font-size: 15px;
				line-height: 18px;
			}
		}
	}

	.slick-track {
		min-width: 100%;
	}
}


.slick-slide {
	&:active,
	&:focus {
		outline: none;
	}
}
