.cta {
	padding: 160px 0 76px;
	text-align: center;

	@include desktop {
		padding: 240px 0 92px;
	}

	&.cta-inner {
		padding: 158px 0 76px;

		@include desktop {
			padding: 120px 0;
		}

		h2 {
			@include desktop {
				font-size: 32px;
				line-height: 38px;
				letter-spacing: 0;
				margin: 0 0 40px;
			}

			br {
				display: none;
			}
		}
	}

	h2 {
		font: 500 28px/34px $font-MessinaSans;
		letter-spacing: -0.02em;
		margin: 0 0 66px;

		@include desktop {
			font-size: 72px;
			font-weight: 300;
			line-height: 80px;
			margin: 0 0 90px;
		}
	}

	&-btns {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		max-width: 520px;
		width: 100%;

		@include mobile {
			flex-direction: row;
		}

		.btn {
			font-family: $font-MessinaSans;
			font-weight: 600;
			font-style: normal;
			margin: 0 10px 12px;
			width: 240px;

			@include mobile {
				width: calc(50% - 10px);
				margin: 0 10px;
			}

			&.btn-red {
				border: 0;
			}
		}
	}

	.btn-menu--mobile {
		@include desktop {
			display: none;
		}
	}

	.btn-menu--desktop {
		display: none;

		@include desktop {
			display: inline-flex;
		}
	}

	.deadline-notice {
		margin-top: 0;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: -0.01em;
		color: #808080;

		@include mobile {
			margin-top: 12px;
		}
	}

	&.cta--link {
		padding-bottom: 50px;

		@include tablet {
			padding-bottom: 84px;
		}

		.cta-link {
			width: auto;
			min-width: 280px;
			max-width: none;
			white-space: nowrap;

			@include tablet {
				min-width: 240px;
			}
		}

		h2 {
			margin-bottom: 40px;
		}
	}
}
