.faqs {
  padding: 88px 0 0;

  @include tablet {
    padding: 120px 0 40px;
  }

  .container {
    max-width: 870px;
  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 24px;
  }
  ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 24px;
  }
  ul ul, ol ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-top: 10px;
  }
  ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: outside;
    margin-top: 10px;
  }

  li {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    margin-bottom: 77px;
    padding: 88px 0 0;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: center;
    font-family: $font-MessinaSans;
    font-weight: 400;
    border-top: 1px solid #c4c4c4;

    @include tablet {
      padding-top: 0;
      font-size: 32px;
      line-height: 38px;
      border: none;
    }
  }
}

.Collapsible {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #1a1a1a;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.01em;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    font-size: 17px;
    line-height: 25px;
  }

  p {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.01em;

    @include tablet {
      font-size: 17px;
      line-height: 25px;
    }
  }

  &__trigger {
    display: block;
    position: relative;
    padding-right: 40px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    cursor: pointer;
    color: #1A1A1A;

    @include tablet {
      font-size: 22px;
      line-height: 26px;
      padding-right: 70px;
    }

    @include desktop-extra {
      &:hover {
        color: $color-red;
      }
    }
  }

  &__contentInner {
    padding-top: 8px;
    padding-right: 40px;

    @include tablet {
      padding-right: 76px;
    }
  }

  .trigger-icon {
    position: absolute;
    top: 6px;
    right: 0;
    width: 16px;
    height: 16px;

    @include tablet {
      right: 30px;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: currentColor;
    }

    &::after {
      content: '';
      width: 100%;
      height: 1px;
    }

    &::before {
      content: '';
      width: 1px;
      height: 100%;
    }
  }

  &__trigger.is-open {
    .trigger-icon::before {
      content: none;
    }
  }
}
