.hero {
	position: relative;
	width: 100%;
	height: calc(100vh + 10px);
	align-items: center;
	background: #242528;
	display: flex;
	justify-content: center;
	padding: 0 0 130px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;

	&-logo {
		margin: 0 0 60px;
	}

	h1 {
		color: #fff;
		font: 200 44px/52px $font-MessinaSans;
		letter-spacing: -1.3px;
		font-weight: 200;
		margin: 0;

		@include desktop {
			font-size: 72px;
			line-height: 80px;
			margin: 0 auto;
			max-width: 840px;
		}


		br {
			display: block;

			@include desktop {
				display: none;
			}
		}
	}


	.hero-ticker {
		position: relative;
		display: inline;

		span {
			color: $color-red;
			font-family: $font-MessinaSansSerif;
			font-style: italic;
			margin-left: 0;
			font-weight: 200;

			@include desktop {
				margin-left: 10px;
			}
		}
	}

	&-scroll {
		align-items: center;
		bottom: 100px;
		cursor: pointer;
		display: flex;
		left: 50%;
		justify-content: center;
		height: 32px;
		position: absolute;
		background-color: transparent;
		border: none;
		transform: translateX(-50%);

		@include tablet {
			bottom: 40px;
		}

		&:active,
		&:focus {
			outline: none;
		}

		svg {
			animation: scroll 2s infinite;
			position: relative;
		}
	}

	@keyframes scroll {
		0% {
			opacity: 1;
			top: -8px;
		}

		50% {
			opacity: .4;
			top: 8px;
		}

		100% {
			opacity: 1;
			top: -8px;
		}
	}

	.typed-cursor {
		position: relative;
		color: transparent !important;
		width: 1px;
		overflow: hidden;
		margin-left: 0 !important;

		&::before {
		  content: '';
			position: absolute;
			left: 5px;
			top: 50%;
			height: 80%;
			width: 1px;
			background-color: $color-red;
			transform: translateY(-50%);
		}
	}
}
