.modal {
	background: #fff;
	height: 100vh;
	width: 100%;
	padding: 60px 24px 24px;
	position: fixed;
	overflow: auto;
	right: -100%;
	top: 0;
	transition: all .5s ease;
	z-index: 201;
	text-align: left;
	animation-name: modal-open;
	animation-duration: 0.3s;

	@include tablet {
		padding: 60px;
		width: 760px;
	}

	@keyframes modal-open {
		from {right: -100%;}
		to {right: 0}
	}

	&::-webkit-scrollbar {
		width: 0;
	}

	&.show {
		display: flex;
		right: 0;

		.modal-close {
			opacity: 1;
		}
	}

	&-menu {
		align-items: center;
		display: flex;
		padding: 48px;


		&-wrapper {
			width: 100%;

			ul {
				counter-reset: counter;
			}

			li {
				counter-increment: counter;
				border-bottom: 1px solid #D7D7D7;

				&:last-child {
					border: none;
				}

				&.coming-soon a {
					color: rgba($color-black, .5);

					span {
						color: #000;
						font: 16px/56px $font-MessinaSansMono;
						margin-left: auto;
						text-align: right;
					}

					&:hover {
						color: rgba($color-black, .5);
					}
				}

				a {
					color: $color-black;
					display: flex;
					font: 40px/56px $font-MessinaSans;
					letter-spacing: -0.02em;
					padding: 26px 0 30px 45px;
					position: relative;
					font-weight: 300;

					&:hover {
					  color: $color-red;
					}

					&::before {
						color: #242528;
						content: '0' counter(counter);
						font: 16px/56px $font-MessinaSansMono;
						left: 0;
						position: absolute;
						top: 26px;
					}
				}
			}
		}
	}

	&-form {
		align-items: center;
		display: flex;

		&-wrapper {
			width: 100%;
		}

		h2 {
			font: 40px/56px $font-MessinaSans;
			margin: 0 0 48px;
			text-align: left;
		}

		.field-wrapper {
			position: relative;
			margin-bottom: 36px;

			input {
				margin-bottom: 0;

				&:not([value=""]),
				&:focus,
				&:active {
					+ label {
						bottom: 100%;
						font-size: 14px;
					}
				}
			}

			label {
				position: absolute;
				bottom: 50%;
				left: 0;
				margin: 0;
				transform: translateY(50%);
				transition: all 0.25s ease-in-out;
			}
		}

		.field-wrapper-bottom {
			display: flex;
			flex-direction: column-reverse;

			@include mobile {
				align-items: center;
				flex-direction: row;
				justify-content: space-between;
			}

			p {
				@include mobile {
					margin-bottom: 0;
				}
			}
		}

		.btn {
			background-color: #000;
			color: #fff;

			&[disabled] {
				background: #d7d7d7;
			}
		}
	}

	&-company {

		&-wrapper {
			width: 100%;
		}

		&-logo {
			align-items: center;
			display: flex;
			height: 78px;
			margin: 0 0 35px;

			img {
				display: block;
				max-height: 65px;
				height: auto;
				max-width: 250px;
				width: 100%;
			}
		}

		&-investors {
			display: flex;
			flex-wrap: wrap;
			padding: 0 0 30px;

			h3 {
				font: 700 15px/23px $font-MessinaSans;
				margin: 0 0 16px;
				width: 100%;

				@include tablet {
					font-size: 17px;
					line-height: 25px;
					margin: 0 0 11px;
				}
			}

			ul {
				max-width: calc(50% - 10px);
				width: 100%;

				@include tablet {
					max-width: 240px;
				}

				li {
					font: 15px/20px $font-MessinaSans;
					padding: 8px 0;

					@include tablet {
						font-size: 17px;
						line-height: 24px;
					}
				}
			}

			i {
				font: italic 17px/20px $font-MessinaSansSerif;
			}
		}

		&-links {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			padding: 0 0 20px;

			@include tablet {
				flex-direction: row;
				padding: 0 0 60px;
			}

			a {
				background: url("../img/dest/icon-link.svg") no-repeat right top;
				border-bottom: 1px solid #000;
				color: $color-black;
				font: 600 20px/24px $font-MessinaSans;
				padding: 0 34px 8px 0;
			}
		}

		&-link {
			margin: 0 0 40px;
			max-width: 240px;
			width: 100%;

			@include tablet {
				margin: 0;
			}
		}

		&-description {
			padding-bottom: 150px;

			@include tablet {
				padding-bottom: 70px;
			}
		}

		&-gallery {
			display: flex;
			margin: 0 -24px 0 -48px;
			max-width: calc(100vw + 24px);
			overflow: auto;
			padding: 0 24px 0 48px;

			@include tablet {
				margin: 0;
				max-width: initial;
				overflow: initial;
				padding: 0;
			}

			> div {
				width: 100%;
				min-width: 296px;
				margin-right: 7px;

				&:nth-child(2n) {
					margin-right: 0;
				}
			}



			.image-wrapper {
				position: relative;
				width: 100%;
				// padding-bottom: 82%;
			}

			img, .img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		h2 {
			color: $color-red;
			font: 22px/28px $font-MessinaSans;
			letter-spacing: -0.02em;
			margin: 0 0 16px;

			@include tablet {
				font-size: 26px;
				line-height: 31px;
			}
		}

		p {
			font: 17px/25px $font-MessinaSans;
			letter-spacing: -0.01em;
			margin: 0 0 40px;

			@include tablet {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}

	&-user {
		padding: 0;

		.modal-close {
			// border-color: transparent;
		}

		&-wrapper {
			width: 100%;

			@include tablet {
				max-width: 760px;
			}
		}

		&-photo {
			height: 212px;

			@include tablet {
				height: auto;
			}

			img, .img {
				display: block;
				height: 100%;
				max-width: 100%;
				object-fit: cover;
				width: 100%;

				@include tablet {
					height: auto;
					object-fit: initial;
					width: auto;
				}
			}
		}

		&-description {
			padding: 48px 24px;
			position: relative;

			@include tablet {
				padding: 48px 60px;
			}

			h2 {
				color: #000;
				font: 30px/36px $font-MessinaSans;
				letter-spacing: -0.02em;
				margin: 0 0 4px;

				@include tablet {
					font-size: 40px;
					line-height: 50px;
					margin: 0 200px 2px 0;
				}
			}

			p {
				color: #242528;
				font: 18px/28px $font-MessinaSans;
				margin: 0 0 28px;
				font-weight: 300;

				@include tablet {
					font-size: 20px;
					line-height: 30px;
					margin: 0 0 30px;
				}

				&:last-child {
					margin: 0;
				}
			}
		}

		&-position {
			color: $color-red;
			font: italic 600 18px/22px $font-MessinaSansSerif;
			margin: 0 0 24px;

			@include tablet {
				font-size: 20px;
				line-height: 30px;
				margin: 0 0 32px;
			}
		}

		&-social {
			display: flex;
			padding: 0 0 40px;

			@include tablet {
				position: absolute;
				right: 60px;
				top: 60px;
			}

			a {
				border-radius: 50%;
				margin: 0 10px 0 0;

				@include tablet {
					margin: 0 0 0 10px;
				}
			}
		}

		&-faq {
			border-top: 1px solid #D7D7D7;
			margin: 48px 0 0;
			padding: 48px 0 60px;

			p {
				font: 17px/25px $font-MessinaSans;
				margin: 0 0 40px;

				&:last-child {
					margin: 0;
				}
			}

			h4  {
				font: 600 17px/25px $font-MessinaSans;
				margin: 0 0 6px;
			}

			div {
				margin-bottom: 40px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&-blog {
		padding: 0;

		&-wrapper {
			max-width: 760px;
		}

		&-photo {
			height: 212px;

			@include tablet {
				height: auto;
			}

			img, .img {
				display: block;
				height: 100%;
				max-width: 100%;
				object-fit: cover;
				width: 100%;

				@include tablet {
					height: auto;
					object-fit: initial;
					width: auto;
				}
			}
		}

		&-description {
			padding: 48px 24px;
			position: relative;

			@include tablet {
				padding: 48px 60px;
			}

			h2 {
				color: #000;
				font: 30px/36px $font-MessinaSans;
				letter-spacing: -0.02em;
				margin: 0 0 20px;
				max-width: 600px;

				@include tablet {
					font-size: 40px;
					line-height: 50px;
				}
			}

			p {
				color: #242528;
				font: 18px/28px $font-MessinaSans;
				letter-spacing: -0.01em;
				margin: 0 0 28px;

				@include tablet {
					font-size: 20px;
					line-height: 34px;
					margin: 0 0 34px;
				}

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&-nav {
		align-items: center;
		background: $color-red;
		display: flex;
		min-height: 100vh;
		width: 100%;

		.modal-close {
			background: none;
			border: none;

			* {
				stroke: #fff;
			}
		}

		&-wrapper {
			padding: 0 20px;

			li {
				padding: 20px 0;

				a {
					color: #fff;
					font: 24px/29px $font-MessinaSans;
					position: relative;

					&::before {
						background: #fff;
						border-radius: 50%;
						content: '';
						height: 8px;
						left: -20px;
						opacity: 0;
						position: absolute;
						top: calc(50% - 4px);
						transition: all .25s ease;
						width: 8px;
					}

					&:hover,
					&[aria-current],
					&.current {
						font-family: $font-MessinaSansSerif;
						font-style: italic;

						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&-date {
		color: #000;
		font: 600 12px/14px $font-MessinaSansMono;
		margin: 0 0 40px;

		@include tablet {
			font-size: 14px;
			line-height: 17px;
			margin: 0 0 43px;
		}
	}

	&-close {
		background: #fff;
		border: 1px solid #D7D7D7;
		border-radius: 50%;
		cursor: pointer;
		display: block;
		position: fixed;
		right: 19px;
		top: 19px;
		width: 44px;
		height: 44px;
		z-index: 20;
		opacity: 0;
		transition: opacity 0.15s ease-in-out;

		> * {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		@include desktop {
			width: 56px;
			height: 56px;
			right: 30px;
			top: 30px;
		}
	}
}

.overlay {
	background: #000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
	opacity: 0;
	animation-name: modal-open-overlay;
	animation-duration: 0.6s;
	transition: all 0.5s ease-in-out;

	@keyframes modal-open-overlay {
		from {
			opacity: 0;
		}
		to {
			opacity: 0.75;
		}
	}

	&.show {
		opacity: 0.75;
	}
}

.home-modal {
	&__overlay {
		position: fixed;
		z-index: 500;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: 0;
		transition: all 0.4s ease-in-out;

		&.show {
			opacity: 0.8;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		position: fixed;
		z-index: 501;
		top: calc(50% - 12px);
		left: calc(50% - 12px);
		width: 960px;
		margin: 12px;
		max-width: calc(100% - 24px);
		max-height: calc(100vh - 24px);
		overflow: hidden;
		background-color: #fff;
		border: 1px solid #000;
		box-sizing: content-box;
		border-radius: 8px;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: all 0.4s ease-in-out;

		&.show {
			opacity: 1;
		}
	}

	&__inside {
		display: flex;
		flex-wrap: wrap;
		overflow-y: auto;
		max-height: 100%;

		@include tablet {
			max-height: none;
		}
	}

	&__image,
	&__content {
		flex: 1 1 100%;
		max-width: 100%;
	}

	&__image {
		position: relative;
		height: 0;
		padding-bottom: 60%;

		@include tablet {
			position: relative;
			flex: 1 1 37.5%;
			max-width: 37.5%;
			height: auto;
			padding-bottom: 0;
			border-right: 1px solid #000;
			filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.07));
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding: 40px 24px;
		overflow-y: auto;

		@include tablet {
			flex: 1 1 62.5%;
			max-width: 62.5%;
			max-height: calc(100vh - 48px);
			padding: 50px 15.3% 32px 5%;
		}

		@include desktop {
			padding-top: 100px;
		}

		p, a {
			font-size: 15px;
			line-height: 23px;
			letter-spacing: -0.01em;

			@include tablet {
				font-size: 17px;
				line-height: 20px;
				letter-spacing: -0.03em;
			}
		}

		a {
			color: $color-red;

			&:hover {
			  color: $color-black;
			}
		}
	}

	&__title {
		margin-bottom: 25px;
		font-weight: 300;
		font-size: 27px;
		line-height: 32px;
		letter-spacing: -0.02em;

		@include tablet {
			margin-bottom: 57px;
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -0.03em;
		}
	}

	&__logo {
		max-width: 165px;
		margin-bottom: 18px;
	}

	&__link {
		margin-top: 32px;

		@include tablet {
			display: block;
			margin-top: 52px;
			cursor: pointer!important;
		}
	}

	&__close {
		cursor: pointer;
		display: block;
		position: absolute;
		right: 15px;
		top: 15px;
		width: 30px;
		height: 30px;
		background: #fff;
		border: 1px solid #D7D7D7;
		border-radius: 50%;

		@include tablet {
			right: 30px;
			top: 30px;
			width: 16px;
			height: 16px;
			background: transparent;
			border: none;
		}

		> svg {
			position: absolute;
			width: 16px;
			height: 16px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&.home-modal--announcement {
		.home-modal__wrapper {
			width: 773px;
		}

		.home-modal__close {
			@include media-max(767px) {
				border: none;
				background: transparent;

				svg * {
					stroke: #fff;
				}
			}
		}

		.home-modal__image {
			padding-bottom: 53.5%;

			img {
				&:first-child(:last-child) {
					display: none;

					@include tablet {
						display: block;
					}
				}

				& + img {
					display: block;

					@include tablet {
						display: none;
					}
				}
			}

			@include tablet {
				flex: 1 1 31%;
				max-width: 31%;
				padding-bottom: 0;
			}
		}

		.home-modal__content {
			@include tablet {
				flex: 1 1 69%;
				max-width: 69%;
				padding: 64px 10% 40px 5.8%;
			}

			p {
				font-size: 17px;
				line-height: 25px;

				a {
					margin-top: 6px;
					margin-left: 0;
					display: block;

					@include tablet {
						display: inline;
						margin-top: 0;
						margin-left: 10px;
					}
				}
			}

			a {
				font-weight: 600;
			}
		}

		.home-modal__top {
			margin-bottom: 50px;
		}

		.home-modal__title {
			margin-bottom: 20px;
			font-size: 36px;
			line-height: 40px;

			@include tablet {
				font-size: 48px;
				line-height: 52px;
			}
		}

		.icon-arrow-right {
			width: 10px;
			height: 12px;
			margin-left: 5px;
			transition: none;

			* {
				transition: none;
			}
		}
	}
}
