.ticker-wrapper {
  overflow: hidden;
}

.ticker-container {
  background: #fff;
  border-top: 1px solid #D7D7D7;
  padding-left: 100%;
  width: 100%;
  box-sizing: content-box;
  height: 72px;
}

.ticker.ticker-pr-100 {
  padding-right: 100%;
}

.ticker {
  overflow: hidden;
  padding: 24px 0 24px;
  transition: 0s;
  white-space: nowrap; /* remove after js */

  display: inline-block;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;

  @include desktop {
    padding: 22px 0 18px;
  }

  li {
    font-size: 14px;
    line-height: 20px;
    font-family: $font-MessinaSans;
    letter-spacing: -0.01em;
    margin: 0 30px 0 0;
    transition: 0s;
    -webkit-text-size-adjust: 100%;
    display: inline-block;

    @include desktop {
      font-size: 17px;
      line-height: 25px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes ticker {
  0% {
    transform: translate3d(-15%, 0, 0);
  }
  85% {
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
  }
  86% {
    transform: translate3d(0, 0, 0);
    visibility: hidden;
  }
  100% {
    transform: translate3d(-14.99999%, 0, 0);
  }
}
