.content.co-found {
  .btn {
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.01em;
    border: none;
    max-width: 280px;

    @include tablet {
      max-width: 240px;
    }
  }
}
