.content.co-found {
  .btn,
  .deadline-notice {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: -0.01em;

    @include tablet {
      font-size: 17px;
      line-height: 25px;
    }
  }

  .btn {
    border: none;
    width: auto;
    min-width: 280px;
    max-width: none;
    white-space: nowrap;

    @include tablet {
      min-width: 240px;
    }
  }

  .deadline-notice {
    margin-top: 10px;
    color: #808080;
  }

  .title {
    padding-bottom: 50px;

    @include tablet {
      padding-bottom: 65px;
    }
  }
}
